<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Good, better, best. Never let it rest. Till your good is better and your better is best.</string>
	<string>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.</string>
	<string>Don&apos;t watch the clock. Do what it does. Keep going.</string>
	<string>Life is 10% what happens to you and 90% how you react to it.</string>
	<string>The best way out is always through.</string>
	<string>You are never too old to set another goal or to dream a new dream.</string>
	<string>Begin with the end in mind.</string>
	<string>It always seems impossible until it&apos;s done.</string>
	<string>Life is really simple, but we insist on making it complicated.</string>
	<string>The most important thing is to enjoy your life - to be happy - it&apos;s all that matters.</string>
	<string>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.</string>
	<string>Life isnt about finding yourself. Life is about creating yourself.</string>
	<string>We do not remember days, we remember moments.</string>
	<string>Very little is needed to make a happy life; it is all within yourself, in your way of thinking.</string>
	<string>The purpose of our lives is to be happy.</string>
	<string>The good life is one inspired by love and guided by knowledge.</string>
	<string>One way to get the most out of life is to look upon it as an adventure.</string>
	<string>The privilege of a lifetime is being who you are.</string>
	<string>My life is my message.</string>
	<string>Life isn&apos;t a matter of milestones, but of moments.</string>
	<string>A life is not important except in the impact it has on other lives.</string>
	<string>Only a life lived for others is a life worthwhile.</string>
	<string>All life is an experiment. The more experiments you make the better.</string>
	<string>The only disability in life is a bad attitude.</string>
</array>
</plist>
